<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.bluexml.side.util.framework.tooling" name="Framwork Tooling" schema="schema/com.bluexml.side.util.framework.tooling.exsd"/>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.bluexml.side.Util.framework.tools"
            name="SIDE">
      </category>
      <wizard
            category="com.bluexml.side.Util.framework.tools"
            class="com.bluexml.side.util.framework.tools.ImportWizard"
            icon="icons/project_icon.png"
            id="com.bluexml.side.Util.framework.tools.wizard"
            name="Import SIDE Model Library">
      </wizard>
   </extension>

</plugin>
