<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.util.framework.tooling">
      <modelLibrary
            activator="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
            archivePath="/com/bluexml/side/util/framework/tools/alfresco40d/models/alfresco40dCE.zip"
            id="alfresco_4.0.d Community"
            label="Alfresco Models 4.0.d Community"
            pluginId="com.bluexml.side.Util.framework.tools.alfresco40d"
            projectId="Model-library-Alfresco-4.0.d-CE">
         <moduleDependence
               label="Alfresco Extension 3.4.6 Enterprise"
               moduleId="com.bluexml.side.Framework.maven.ampArchetypeForSide_40d"
               moduleType="jar"
               technologyVersion="internal"
               versionMax="1.0.3"
               versionMin="1.0.3">
         </moduleDependence>
         <moduleDependence
               label="Alfresco Share Extension 3.4.6 Enterprise"
               moduleId="com.bluexml.side.Framework.maven.warPatchArchetypeForSide_40d"
               moduleType="jar"
               technologyVersion="internal"
               versionMax="1.0.3"
               versionMin="1.0.3">
         </moduleDependence>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.Class.generator.alfresco40d"
               version="auto">
            <option
                  defaultOption="false"
                  hidden="false"
                  key="alfresco.share.extension"
                  label="alfresco.share.extension">
            </option>
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.Portal.generator.alfresco40d"
               version="auto">
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Portal.generator.alfresco.forms"
                  label="com.bluexml.side.Portal.generator.alfresco.forms">
            </option>
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Portal.generator.alfresco.doclist"
                  label="com.bluexml.side.Portal.generator.alfresco.doclist">
            </option>
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.View.generator.alfresco 40d"
               version="auto">
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.Form.generator.alfresco40d"
               version="com.bluexml.side.Util.framework.tools.alfresco40d.generatorVersion4">
         </generatorVersion>
         <deployerVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.Deployer.alfrescoDirectCopy40d"
               shared="false"
               version="com.bluexml.side.Util.framework.tools.alfresco40d.deployerVersion1">
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Deployer.alfrescoDirectCopy40d.clean"
                  label="com.bluexml.side.Deployer.alfrescoDirectCopy40d.clean">
            </option>
         </deployerVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="visible"
               id="com.bluexml.side.Workflow.generator.alfresco40d"
               version="com.bluexml.side.Util.framework.tools.alfresco40d.generatorVersion5">
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco40d.Activator"
               hidden="hidden and used by default"
               id="side.customModules"
               version="side.customModules">
         </generatorVersion>
      </modelLibrary>
   </extension>

</plugin>
