<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- $Id: log4j.xml 3534 2008-09-10 10:14:03Z lars $ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="SHELL" class="org.apache.log4j.ConsoleAppender">
        <!--<param name="DatePattern" value="'.'yyyy-MM-dd"/>-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="SHELL"/>
    </appender>


    <!--
        if you don't want to use the file appender leave it commented,
        otherwise an empty log file will be created anyway.
    -->
    <!--

    <appender name="ROLLING_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="chiba.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="chiba.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c %x: %m%n"/>
        </layout>
    </appender>
    -->

    <!--
        change to WARN in production environments
    -->
    <category name="org.chiba">
        <priority value="ERROR"/>
    </category>
    <category name="com.bluexml.xforms.actions.WorkflowTransitionAction">
        <priority value="DEBUG"/>
    </category>
    <category name="com.bluexml.xforms.controller.alfresco.AlfrescoController">
        <priority value="DEBUG"/>
    </category>
    <category name="com.bluexml.xforms.controller.alfresco.AlfrescoController.trace">
        <priority value="OFF"/>
    </category>
    <category name="com.bluexml.xforms.controller.mapping">
        <priority value="DEBUG"/>
    </category>
    <category name="com.bluexml.xforms.controller.mapping.trace">
        <priority value="OFF"/>
    </category>
    <category name="com.bluexml.xforms.controller.mapping.VirtualResolver">
        <priority value="ERROR"/>
    </category>
    <category name="com.bluexml.xforms.controller.navigation.NavigationManager">
        <priority value="DEBUG"/>
    </category>
    <category name="org.chiba.agent.web.session.impl">
        <priority value="ERROR"/>
    </category>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="ASYNC"/>
    </root>

</log4j:configuration>
