<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       id="com.bluexml.application.ui"
       name="Manage Configuration"
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          id="com.bluexml.application.ui.createGeneration"
          nameFilter="*.application"
          objectClass="org.eclipse.core.resources.IFile">
       <action
             class="com.bluexml.side.application.ui.action.CreateGenerationConfiguration"
             enablesFor="1"
             icon="icon/manage.png"
             id="com.bluexml.application.ui.createGeneration"
             label="Manage Configuration">
       </action>
    </objectContribution>
 </extension>
</plugin>
