<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <metamodel
            id="http://www.kerblue.org/class/1.0"
            name="KSR500 Class"
            url="http://www.kerblue.org/class/1.0">
         <technology
               id="facetmap"
               name="Facetmap"
               url="http://facetmap.com/spec/facetmap2_0.dtd">
            <technologyVersion
                  id="facetmap2"
                  version="Facetmap 2.0">
               <generatorVersion
                     class="com.bluexml.side.clazz.generator.facetmap.ClassFacetmapGenerator"
                     id="com.bluexml.side.Class.generator.facetmap"
                     version="S-IDE Facetmap Generator 1.0.0">
                  <configurationParameter
                        documentation="Host of the server where alfresco is installed"
                        key="FACETMAP_HOST"
                        label="FacetMap Host">
                  </configurationParameter>
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
