<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <metamodel
            description="Check this to generate class models on leading frameworks.&lt;br&gt; This Class Metamodel allows to model Application Object structure and persistence.&lt;br&gt;S-IDE provides the modeler to graphically produce class models and various generators to instantiate these models on leading frameworks. "
            id="http://www.kerblue.org/class/1.0"
            name="KSR500 Class"
            url="http://www.kerblue.org/class/1.0">
         <technology
               description="Check this to generate Facet navigation features associated to the designed objects of your class models.&lt;br&gt;Facetmap is a library allowing to produce facet navigation through object categories.&lt;br&gt;S-IDE allows to optimize the generation of the Facetmap components based on the newly designed objects of your class models."
               id="Facetmap 2.x"
               name="Facetmap"
               url="http://facetmap.com/spec/facetmap2_0.dtd">
            <technologyVersion
                  description="Check this to generate Facet navigation components on the major release 2 of the Facetmap library.&lt;br&gt;Facetmap 2.x is one of the more efficient and robust Facet navigation component which may be easily embedded in web application.&lt;br&gt;Additionally to content generation, S-IDE provides the generated components to integrate Facet navigation features according to the designed application objects."
                  id="Facetmap 2.x"
                  version="Facetmap 2.x">
               <generatorVersion
                     class="com.bluexml.side.clazz.generator.facetmap.ClassFacetmapGenerator"
                     description="Check this to generate the xsl Facetmap templates to integrate Facet navigation to your application.&lt;br&gt;The generated xsl templates may be deployed in any Facetmap instance.&lt;br&gt;S-IDE provides the necessary components to deploy these packages through the &apos;deployer&apos; tab."
                     id="com.bluexml.side.Class.generator.facetmap"
                     version="S-IDE Facetmap Generator 1.0.0">
                  <configurationParameter
                        documentation="Set this value to the hostname of the application server where you want to deploy the generated facetmap xsl templates."
                        key="FACETMAP_HOST"
                        label="FacetMap Host">
                  </configurationParameter>
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
