<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <metamodel
            description="Check this to generate class models on leading frameworks.&lt;br&gt; This Class Metamodel allows to model Application Object structure and persistence.&lt;br&gt;S-IDE provides the modeler to graphically produce class models and various generators to instantiate these models on leading frameworks."
            id="http://www.kerblue.org/class/1.0"
            name="KSR500 Data"
            url="http://www.kerblue.org/class/1.0">
         <technology
               description="Check this to generate your class models on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;S-IDE allows to optimize the configuration of the Alfresco content model, views, forms and reports."
               id="alfresco"
               name="Alfresco"
               url="http://www.alfresco.com">
            <technologyVersion
                  description="Check this to generate class models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, S-IDE provides useful server components to enhance some features of this release."
                  id="alfresco_3.x"
                  version="Alfresco3.x Labs and Enterprise">
               <generatorVersion
                     class="com.bluexml.side.clazz.generator.alfresco.ClassAlfrescoGenerator"
                     description="Check this to generate a full deployable Alfresco package containing the newly designed content model and other Alfresco artefacts.&lt;br&gt;The generated packages are standard Alfresco Module package which may be deployed in any Alfresco 3.x instance under the &apos;amps&apos; directory.&lt;br&gt;S-IDE provides the necessary components to deploy these packages through the &apos;deployer&apos; tab."
                     id="com.bluexml.side.Class.generator.alfresco"
                     version="S-IDE Alfresco Content Model Generator 1.0.0">
                  <configurationParameter
                        documentation="Set this value to the version of the generated AMPs, default value is &apos;1.0&apos;.&lt;br&gt;At Alfresco start, the version is displayed in the console and may easily be checked to ensure good production deployment."
                        key="com.bluexml.side.Class.generator.alfresco.module.version"
                        label="Class Module version">
                  </configurationParameter>
                  <option
                        documentation="Check this option to generate a default configuration for AlfrescoShare DocList"
                        key="alfrescoShare.defaultDocList"
                        label="Alfresco Share docList (default views)">
                     <moduleDependence
                           moduleId="com.bluexml.side.Integration.alfresco.doclist"
                           moduleType="amp"
                           technologyVersion="alfresco_3.x"
                           versionMin="1.0.0">
                     </moduleDependence>
                     <mustBeUnchecked
                           pluginId="com.bluexml.side.Portal.generator.alfresco">
                        <optionRef
                              optionId="com.bluexml.side.Portal.generator.alfresco.doclist"></optionRef>
                     </mustBeUnchecked>
                  </option>
                  <option
                        documentation="Check this option to include the production of the Alfresco Share&apos;s module extension in the generation.&lt;br&gt;If not checked, the extension modules are not included in the generated AMPs.&lt;br&gt;S-IDE provides extension modules to Alfresco Share in order to view and edit all the metadata of the newly generated content model."
                        key="alfresco.share.extension"
                        label="Alfreco Share Extension">
                     <moduleDependence
                           moduleId="com.bluexml.side.Integration.alfresco.upload"
                           moduleType="amp"
                           technologyVersion="alfresco_3.x"
                           versionMin="1.0.0">
                     </moduleDependence>
                  </option>
                  <option
                        documentation="Check this option to include the production of the Alfresco&apos;s report webscripts in the generation.&lt;br&gt;If not checked, the webscripts report are not included in the generated AMPs.&lt;br&gt;S-IDE allows to configure the Alfresco&apos;s report webscripts with the newly designed content types of the class model."
                        key="alfresco.webscript.report"
                        label="Alfresco Report Webscripts">
                  </option>
                  <option
                        documentation="genereate configuration to display all meta-datas in alfrescoShare forms"
                        key="class.alfrescoShare.defaultForms"
                        label="Alfresco Share forms (default forms)">
                  </option>
                  <configurationParameter
                        documentation="Alfresco URL"
                        key="alfresco.url"
                        label="Alfresco URL">
                  </configurationParameter>
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
