<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bluexml.side.integration.eclipse.branding.allfeatures.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.bluexml.side.integration.eclipse.branding.allfeatures.Perspective"
            id="com.bluexml.side.Integration.eclipse.allFeatures.perspective">
      </perspective>
   </extension>
   <extension
         id="side_product_builder"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="SIDE Products Builder">
         <property
               name="appName"
               value="SIDE Products Builder">
         </property>
      </product>
   </extension>

</plugin>
