<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
       <!--
      <metamodel
            description="Check this to generate class models on leading frameworks.&lt;br&gt; This Class Metamodel allows to model Application Object structure and persistence.&lt;br&gt;S-IDE provides the modeler to graphically produce class models and various generators to instantiate these models on leading frameworks."
            id="http://www.kerblue.org/class/1.0"
            name="KSR500 Class"
            url="http://www.kerblue.org/class/1.0">
         <technology
               description="Check this to generate default configuration for Alfresco Share.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;S-IDE allows to optimize the configuration of the Alfresco content model, views, forms and reports."
               id="alfresco_share"
               name="AlfrescoShare"
               url="http://www.alfresco.com">
            <technologyVersion
                  description="Check this to generate class models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, S-IDE provides useful server components to enhance some features of this release."
                  id="alfresco_share_3.x"
                  version="AlfrescoShare3.x Labs and Entreprise">
            </technologyVersion>
         </technology>
      </metamodel>
      -->
      <metamodel
            description="Check this to generate class models on leading frameworks.&lt;br&gt; This Class Metamodel allows to model Application Object structure and persistence.&lt;br&gt;S-IDE provides the modeler to graphically produce class models and various generators to instantiate these models on leading frameworks."
            id="http://www.kerblue.org/class/1.0"
            name="KSR500 Class"
            url="http://www.kerblue.org/class/1.0">
         <technology
               description="Check this to generate your class models on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;S-IDE allows to optimize the configuration of the Alfresco content model, views, forms and reports."
               id="alfresco"
               name="Alfresco"
               url="http://www.alfresco.com">
            <technologyVersion
                  description="Check this to generate class models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, S-IDE provides useful server components to enhance some features of this release."
                  id="alfresco_3.x"
                  version="Alfresco3.x Labs and Entreprise">
               <generatorVersion
                     class="com.bluexml.side.clazz.generator.alfrescoshare.ClassAlfrescoShareGenerator"
                     description="Check this to generate a full deployable Alfresco Share package containing the newly designed content model and other Alfresco artefacts.&lt;br&gt;S-IDE provides the necessary components to deploy these packages through the &apos;deployer&apos; tab."
                     id="com.bluexml.side.Class.generator.alfrescoShare"
                     version="S-IDE AlfrescoShare Class Generator 1.0.0">
                  <configurationParameter
                        documentation="if not fill the package version number is &quot;1.0&quot;"
                        key="com.bluexml.side.Class.generator.alfrescoShare.module.version"
                        label="Package version">
                  </configurationParameter>
                  <option
                        documentation="add custom alfresco share configuration to manage all meta datas in forms"
                        key="class.alfrescoShare.defaultForms"
                        label="defaultForms">
                  </option>
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
