<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.bluexml.side.util.feedback.startup.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.bluexml.side.settings.SideSettingsPreferencesPage"
            class="com.bluexml.side.util.feedback.ui.SideSettingsFeedbackPreferencesPage"
            id="com.bluexml.side.Util.feedback.preferences"
            name="Feedback">
      </page>
   </extension>

</plugin>
