<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <metamodel
            id="com.bluexml.side.Application.customModules.metamodel1"
            name="com.bluexml.side.Application.customModules.metamodel1">
         <technology
               id="com.bluexml.side.Application.customModules.technology1"
               name="com.bluexml.side.Application.customModules.technology1">
            <technologyVersion
                  id="com.bluexml.side.Application.customModules.technologyVersion1"
                  version="com.bluexml.side.Application.customModules.technologyVersion1">
               <generatorVersion
                     class="com.bluexml.side.application.custommodules.Generator"
                     hidden="hidden and used by default"
                     id="side.customModules"
                     version="side.customModules">
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
