<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
      <extension
        point="org.eclipse.ui.views">
     <category
           id="KerBlue.Forms.editor"
           name="BlueXML">
     </category>
     <view
           category="KerBlue.Forms.editor"
           class="com.bluexml.side.form.editor.views.OutlineHTMLView"
           icon="icons/sample.gif"
           id="kerblue.forms.editor.views.OutlineHTMLView"
           name="OutlineHTMLView">
     </view>
  </extension>   

</plugin>
