<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.util.framework.tooling">
    <modelLibrary
          activator="com.bluexml.side.util.framework.tools.alfresco346e.Activator"
          archivePath="/com/bluexml/side/util/framework/tools/alfresco346e/models/alfresco346E.zip"
          id="alfresco_3.4.6E"
          label="Alfresco Models 3.4.6 Enterprise"
          mavenFrameworkClassifier="enterprise"
          mavenFrameworkGroup="org.alfresco"
          mavenFrameworkVersion="3.4.6"
          pluginId="com.bluexml.side.Util.framework.tools.alfresco346E"
          projectId="Model-library-Alfresco-3.4.6-EE">
      <moduleDependence label="Alfresco Extension 3.4.6 Enterprise" moduleId="com.bluexml.side.Framework.maven.ampArchetypeForSide_346E" moduleType="jar" technologyVersion="internal" versionMax="1.0.4" versionMin="1.0.4" />
      <moduleDependence label="Alfresco Share Extension 3.4.6 Enterprise" moduleId="com.bluexml.side.Framework.maven.warPatchArchetypeForSide_346E" moduleType="jar" technologyVersion="internal" versionMax="1.0.3" versionMin="1.0.3" />
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.Class.generator.alfresco346E" version="auto">
        <option defaultOption="false" hidden="false" key="alfresco.share.extension" label="alfresco.share.extension" />
      </generatorVersion>
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.Portal.generator.alfresco346E" version="auto">
        <option defaultOption="false" hidden="false" key="com.bluexml.side.Portal.generator.alfresco.forms" label="com.bluexml.side.Portal.generator.alfresco.forms" />
        <option defaultOption="false" hidden="false" key="com.bluexml.side.Portal.generator.alfresco.doclist" label="com.bluexml.side.Portal.generator.alfresco.doclist" />
      </generatorVersion>
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.View.generator.alfresco346E" version="auto" />
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.Form.generator.alfresco346E" version="com.bluexml.side.Util.framework.tools.alfresco346E.generatorVersion4" />
      <deployerVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.Deployer.alfrescoDirectCopy346E" shared="false" version="com.bluexml.side.Util.framework.tools.alfresco346E.deployerVersion1">
        <option defaultOption="false" hidden="false" key="com.bluexml.side.Deployer.alfrescoDirectCopy346E.clean" label="com.bluexml.side.Deployer.alfrescoDirectCopy346E.clean" />
      </deployerVersion>
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="visible" id="com.bluexml.side.Workflow.generator.alfresco346E" version="com.bluexml.side.Util.framework.tools.alfresco346E.generatorVersion5" />
      <generatorVersion class="com.bluexml.side.util.framework.tools.alfresco346e.Activator" hidden="hidden and used by default" id="side.customModules" version="side.customModules" />
    </modelLibrary>
  </extension>
</plugin>

