<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate form models on leading frameworks.&lt;br&gt; This Form Metamodel allows to model Web Forms to integrate in your web application or web framework customizations.&lt;br&gt;SIDE provides the modeler to graphically produce form models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/form/1.0" name="KSR400 Form" url="http://www.kerblue.org/form/1.0">
      <technology description="Check this to generate on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;SIDE allows to optimize the configuration of the Alfresco content model, views, forms and reports." id="alfresco" name="Alfresco" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate on the major release 3.4 of Alfresco.&lt;br&gt;Alfresco 3.4.d is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, SIDE provides useful server components to enhance some features of this release." id="alfresco_3.4.6E" version="Alfresco3.4.6 Enterprise">
          <generatorVersion class="com.bluexml.side.form.generator.alfresco.enterprise346.FormGenerator346e" description="This generator generate configuration from Forms Models for Alfresco Share" hidden="visible" id="com.bluexml.side.Form.generator.alfresco346E" version="Alfresco Share Forms Generator">
            <configurationParameter dataType="String" defaultValue="1.0" key="com.bluexml.side.Form.generator.alfresco346E.module.version" label="Form Module version" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.share.formExtension346E" moduleType="zip" technologyVersion="alfresco_3.4.6E" versionMax="1.0.40" versionMin="1.0.40" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.sharePortalExtension346E" moduleType="zip" technologyVersion="alfresco_3.4.6E" versionMax="1.0.1" versionMin="1.0.1" />
            <option defaultOption="true" documentation="this must be hidden" hidden="true" key="generator.main" label="main generation" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.share.Inputex" moduleType="zip" technologyVersion="alfresco_3.4.6E" versionMax="1.0.4" versionMin="1.0.4" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.share.autoConnect346E" moduleType="zip" technologyVersion="alfresco_3.4.6E" versionMax="1.0.1" versionMin="1.0.1" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.formProcessor346E" moduleType="amp" technologyVersion="alfresco_3.4.6E" versionMax="1.0.34" versionMin="1.0.34" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

