.xformstdleft {
	float: left;
}

.xformstdclear {
	clear: both;
}

#chiba-logo {
	display: none;
}

#copyright {
	display: none;
}

.group {
	padding: 3px;
	margin: 3px;
	background: #ffffff;
}

.minimal-group {
	padding: 3px;
}

.full-group {
	background: #EEE;
	border: none;
	overflow: auto;
}

.full-group div {
	display: block;
	padding: 5px;
}

.full-group label {
	width: auto;
	vertical-align: middle;
	float: left;
}

.group-label {
	font-weight: bold;
}

.full-repeat {
	border: thin solid #EEEEEE;
}

.input,.textarea,.select1,.select,div.xformstdclear {
	margin-left: 10px;
}

.input label,.textarea label,.full-group label {
	height: 1.3em;
	width: 150px;
	padding-right: 5px;
	text-align: right;
	margin-top: 4px;
	overflow: hidden;
}

/* align (vertically) bottom line of readonly fields' label with the text*/
div.xformstdclear label {
	margin-top: 0px;
}

/*
 * FILE UPLOAD WIDGET
 */
div.side_upload_filename span {
	font-size: 8pt;
}

div.upload div {
	padding: 0px;
}

/*
 * SELECTION WIDGETS
 */
div.side_select_widget,div.side_select_search_zone {
	padding-left: 0px;
}

div.side_select_widget .submit { /* the create button*/
	margin-left: 10px;
}

div.side_select_search_zone label {
	padding-right: 5px;
}

div.side_select_widget label,div.side_select_search_zone label {
	display: none;
	width: 0px;
}

/*
 * SEARCH WIDGETS
 */
div.side_search_value label {
	display: none;
	width: 0px;
}

div.side_search_value,div.side_search_operator {
	float: left;
	padding: 0px;
}

div.side_search_value select {
	min-width: 150px;
}

div.side_search_value div.xsd-boolean {
	margin-left: 0px;
}

div.side_search_operator select {
	width: 200px;
}

div.side_search_field {
	clear: both;
}

/*
 *
 */
	/* make the text in read-only textareas visible when in inline multiple forms */
div.bxds_ro_textarea span.mediatype-text-html {
	background: #A7BCFC;
}

div.side_jsp_footer {
	text-align: center;
	width: 100%;
	border-top: solid 1px #AAA;
	font-size: 14px;
	vertical-align: middle;
	min-height: 1.5em;
}

div.side_jsp_using {
	text-align: right;
	width: 100%;
	border-top: solid 1px #AAA;
	font-size: 12px;
}

a.side_jsp_using:link,a.side_jsp_footer:link {
	color: #6FF;
}

side_xforms_line {
	visibility: hidden;
}

#side_status_bar {
	min-height: 1em;
	font-weight: bold;
}

#submitButtons {
	text-align: right;
}

#submitButtons.full-group {
	text-align: right;
	background: #fff;
	overflow: visible;
}