<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="com.bluexml.side.integration.eclipse.builder" name="SIDE Builder" point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="com.bluexml.side.integration.eclipse.builder.SIDEBuilder" />
    </builder>
  </extension>
  <extension id="com.bluexml.side.integration.eclipse.nature" name="SIDE Nature" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="com.bluexml.side.integration.eclipse.builder.SIDENature" />
    </runtime>
    <builder id="com.bluexml.side.integration.eclipse.builder" />
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution adaptable="true" id="com.bluexml.side.Integration.eclipse.builder.contribution1" nameFilter="*" objectClass="org.eclipse.core.resources.IProject">
      <action class="com.bluexml.side.integration.eclipse.builder.ToggleNatureAction" enablesFor="+" id="com.bluexml.side.Integration.eclipse.builder.addRemoveNatureAction" label="Add/Remove SIDE Nature" menubarPath="com.bluexml.side/project" />
      <menu icon="icon/side_16.gif" id="com.bluexml.side" label="SIDE" path="additions">
        <separator name="project" />
      </menu>
    </objectContribution>
  </extension>
  <extension id="sideProblem" name="SIDE Problem" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker" />
    <persistent value="true" />
  </extension>
</plugin>

