<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel id="http://www.kerblue.org/view/1.0" name="KSR300 View" url="http://www.kerblue.org/v2/ksr300-view">
      <technology description="Check this to generate Facet navigation features associated to the designed objects of your data models.&lt;br&gt;SIDE generation from view models produces facet navigation through object categories.&lt;br&gt;SIDE allows to optimize the generation of the Facetmap components based on the newly designed objects of your data models.&lt;br&gt;The generated Facet Navigation views may be easily integrated under portal like Alfresco Share." id="Facetmap" name="Facet Navigation" url="http://facetmap.com/spec/facetmap2_0.dtd">
        <technologyVersion description="Check this to generate Facet navigation components on the major release 2 of the Facetmap library.&lt;br&gt;Facetmap 2.x is one of the more efficient and robust Facet navigation component which may be easily embedded in web application.&lt;br&gt;Additionally to content generation, SIDE provides the generated components to integrate Facet navigation features according to the designed application objects." id="Facetmap_2.x" version="Facetmap 2.x">
          <generatorVersion class="com.bluexml.side.view.generator.facetmap.ViewFacetmapGenerator" description="Check this to generate the dynamic files that Facetmap needs in your application.&lt;br&gt;The generated files may be deployed in any Facetmap instance and default implementation on Alfresco and Alfresco Share is provided.&lt;br&gt;SIDE provides the necessary components to deploy these packages through the 'deployer' tab." id="com.bluexml.side.View.generator.facetmap" version="SIDE Facetmap Generator for Alfresco">
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.cmisFacetMap" moduleType="amp" technologyVersion="alfresco_3.x" versionMin="1.0.24" versionMax="1.0.24" />
            <moduleDependence moduleId="com.bluexml.side.Integration.alfresco.shareFacetMapDashlet" moduleType="zip" technologyVersion="alfresco_3.x" versionMin="1.0.23" versionMax="1.0.23" />
            <configurationParameter documentation="Set this value to the URL of the Alfresco instance on which have been generated and deployed new content types from the SIDE data model." key="alfresco.url" label="Alfresco URL" />
            <configurationParameter documentation="Set this value to the URL of the Alfresco Share instance on which you want to generate and deploye the 2 new Facet navigation components (menu and results list)." key="alfresco.share.url" label="Alfresco share URL" />
            <option defaultOption="true" key="com.bluexml.side.View.generator.facetmap.alfrescoConnector" label="Alfresco Connector">
              <mustBeChecked pluginId="com.bluexml.side.Class.generator.alfresco">
                <optionRef optionId="com.bluexml.side.Class.generator.alfresco.facetMapWebscript" />
              </mustBeChecked>
              <moduleDependence moduleId="com.bluexml.side.Framework.facetMap.alfrescoConnector" moduleType="zip" technologyVersion="Facetmap_2.x" versionMin="1.0.13" versionMax="1.0.13" />
              <mustBeChecked pluginId="com.bluexml.side.Portal.generator.alfresco">
                <optionRef optionId="com.bluexml.side.Portal.generator.alfresco.facetmap" />
              </mustBeChecked>
            </option>
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

