<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <metamodel
            id="http://www.kerblue.org/workflow/1.0"
            name="KSR600 Workflow"
            url="http://www.kerblue.org/v2/ksr600-workflow/">
         <technology
               id="alfresco"
               idMetamodel="http://www.kerblue.org/workflow/1.0"
               name="Alfresco"
               url="http://www.alfresco.com">
            <technologyVersion
                  id="alfresco_3.x"
                  idTechnology="alfresco"
                  version="Alfresco3.x Labs and Entreprise">
               <generatorVersion
                     class="com.bluexml.side.workflow.generator.alfresco.WorkflowGenerator"
                     id="com.bluexml.side.Workflow.generator.Alfresco"
                     idTechnologyVersion="alfresco_3.0_labs"
                     version="S-IDE Alfresco Workflow Generator">
                  <configurationParameter
                        documentation="default value : 1.0, alfresco module version can be set here"
                        key="com.bluexml.side.Workflow.generator.alfresco.module.version"
                        label="Workflow Module version">
                  </configurationParameter>
               </generatorVersion>
            </technologyVersion>
         </technology>
      </metamodel>
   </extension>

</plugin>
