.yui-skin-default .yui-ac-input {
	width: 30em;
	position: static;
}

.yui-skin-yellowTheme .yui-ac-input {
	width: 30em;
	position: static;
}

.yui-skin-gdocs .yui-ac-input {
	width: 30em;
	position: static;
}

.yui-skin-greenTheme .yui-ac-input {
	width: 30em;
	position: static;
}

.yui-skin-hcBlack .yui-ac-input {
	width: 30em;
	position: static;
}