<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            eclipseRuntime="true"
            name="side.workspace"
            value="workspace://">
      </antProperty>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.GenerateTask"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.generate">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.DeployTask"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.deploy">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.ValidateTask"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.validate">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.CleanTask"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.clean">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.GenerateSideReportTask"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.report">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="antBuildFileGeneration"
            nameFilter="*.application"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.bluexml.side.util.antrunner.AntFileGeneratorAction"
               icon="icons/full/obj16/ant_buildfile.gif"
               id="antBuildFileGeneration.action"
               label="Generate Ant Build file"
               menubarPath="com.bluexml.side/application">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.bluexml.side.ant.SetPropertyFromConfiguration"
            eclipseRuntime="true"
            library="lib/sideAntTasks.jar"
            name="side.setPropertyFromConfiguration">
      </antTask>
   </extension>

</plugin>
