<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.bluexml.side.Portal.alfresco.reverse.objectContribution1"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               icon="icons/side_16.gif"
               id="com.bluexml.side.Class.edit.ui.editor.menu1"
               label="SIDE"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.bluexml.side.portal.alfresco.reverse.action.ReverseAction"
               enablesFor="1"
               icon="icons/reverse.png"
               id="com.bluexml.side.Portal.alfresco.reverse"
               label="Reverse Alfresco share Portal to SIDE Models"
               menubarPath="com.bluexml.side.Class.edit.ui.editor.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
