<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
         <technology
               description="Check this to deploy generated Facet navigation components under the web application flolder of your application server.&lt;br&gt;Facetmap is a library allowing to produce facet navigation through object categories."
               id="Facetmap"
               name="Facetmap Facet Navigation"
               url="http://facetmap.com/spec/facetmap2_0.dtd">
            <technologyVersion
                  description="Check this to deploy Facet navigation components on the major release 2 of the Facetmap library.&lt;br&gt;Facetmap 2.x is one of the more efficient and robust Facet navigation component which may be easily embedded in web application."
                  id="Facetmap 2.x"
                  version="Facetmap 2.x">
               <deployerVersion
                     class="com.bluexml.side.clazz.deployer.facetmap.ClassFacetMapDeployer"
                     description="Check this to proceed to a full deployment of the generated xsl Facetmap templates to integrate Facet navigation to your application.&lt;br&gt;The generated xsl templates may be deployed in any Facetmap instance."
                     id="com.bluexml.side.Class.deployer.facetmap"
                     version="S-IDE FacetMap Deployer 1.0.0">
                  <configurationParameter
                        documentation="Set this value to the web application directory path of the application server where you want to deploy the generated facetmap xsl templates."
                        key="FACETMAP_FOLDER"
                        label="Facetmap webapp folder">
                  </configurationParameter>
               </deployerVersion>
            </technologyVersion>
         </technology>
   </extension>

</plugin>
