<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page id="com.bluexml.side.settings.SideSettingsPreferencesPage"
		  name="S-IDE"
		  class="com.bluexml.side.settings.SideSettingsPreferencesPage">
		</page>
		
		<page
        category="com.bluexml.side.settings.SideSettingsPreferencesPage"
        class="com.bluexml.side.settings.SideSettingsKeyPreferencePage"
        id="com.bluexml.side.settings.SideSettingsKeyPreferencesPage"
        name="Licence Key">
		</page>
	</extension> 
</plugin>
