<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.util.framework.tooling">
      <modelLibrary
            activator="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
            archivePath="/com/bluexml/side/util/framework/tools/alfresco32r2ce/models/alfresco32r2.zip"
            id="ALFRESCO_32R2_CE"
            label="Alfresco Models 3.2r2 CE"
            pluginId="com.bluexml.side.Util.framework.tools.alfresco32r2CE"
            projectId="Model-library-Alfresco-3.2r2-CE">
         <moduleDependence
               label="Alfresco Extension 3.2r2 CE"
               moduleId="com.bluexml.side.Framework.maven.ampArchetypeForSide"
               moduleType="jar"
               technologyVersion="internal"
               versionMax="1.0.12"
               versionMin="1.0.12">
         </moduleDependence>
         <moduleDependence
               label="Alfresco Share Extension 3.2r2 CE"
               moduleId="com.bluexml.side.Framework.maven.warPatchArchetypeForSide"
               moduleType="jar"
               technologyVersion="internal"
               versionMax="1.0.13"
               versionMin="1.0.13">
         </moduleDependence>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
               hidden="visible"
               id="com.bluexml.side.Class.generator.alfresco"
               version="com.bluexml.side.Util.framework.tools.alfresco32r2CE.generatorVersion6">
            <option
                  defaultOption="false"
                  hidden="false"
                  key="alfresco.share.extension"
                  label="alfresco.share.extension">
            </option>
            <option
                  defaultOption="false"
                  hidden="false"
                  key="alfresco.webscripts.common"
                  label="alfresco.webscripts.common">
            </option>
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
               hidden="visible"
               id="com.bluexml.side.Portal.generator.alfresco"
               version="com.bluexml.side.Util.framework.tools.alfresco32r2CE.generatorVersion7">
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Portal.generator.alfresco.forms"
                  label="com.bluexml.side.Portal.generator.alfresco.forms">
            </option>
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Portal.generator.alfresco.doclist"
                  label="com.bluexml.side.Portal.generator.alfresco.doclist">
            </option>
            <option
                  defaultOption="false"
                  hidden="false"
                  key="com.bluexml.side.Portal.generator.alfresco.xforms"
                  label="com.bluexml.side.Portal.generator.alfresco.xforms">
            </option>
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
               hidden="visible"
               id="com.bluexml.side.View.generator.alfresco"
               version="com.bluexml.side.Util.framework.tools.alfresco32r2CE.generatorVersion8">
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
               hidden="visible"
               id="com.bluexml.side.Form.generator.xforms.chiba"
               version="com.bluexml.side.Util.framework.tools.alfresco32r2CE.generatorVersion9">
         </generatorVersion>
         <generatorVersion
               class="com.bluexml.side.util.framework.tools.alfresco32r2ce.Activator"
               hidden="visible"
               id="com.bluexml.side.Workflow.generator.alfresco"
               version="com.bluexml.side.Util.framework.tools.alfresco32r2CE.generatorVersion10">
         </generatorVersion>
      </modelLibrary>
   </extension>

</plugin>
